<div id="container-home">
    <div class="box-content">
        <a href="?homeAdm">
            <div class="box-item">
                <img src="img/adm.png" style="width: 100%; height: 100%;"/>
                <h1> Administração</h1>
            </div>
        </a>
        <a href="?marketing">
            <div class="box-item">
                <img src="img/maek.png" style="width: 100%; height: 100%;"/>
                <h1> Marketing</h1>
            </div>
        </a>
        <a href="?funcionario">
            <div class="box-item">
                <img src="img/worker.png" style="width: 100%; height: 100%;"/>
                <h1>Funcionario</h1>
            </div>
        </a>
        <a href="?publicidade">
            <div class="box-item">
                <img src="img/cadas.png" style="width: 100%; height: 100%;"/>
                <h1> Publicidade</h1>
            </div>
        </a>
        
    </div>
</div>