<!--Conteúdo principal -->
<!--Menu com as opções -->
<div class="menu"><!-- Caixa com as imagens que abre a lista de opções -->
        <div class="menu_categoria"><!-- Imagem que abre a lista de opções -->
            <img src="imagens/teste.png"/>
            <div class="submenu_categoria"><!-- Div que segura a lista de opções -->
                <div class="caixa_submenu">
                    <h2>Administração</h2>
                    <div class="item_submenu">
                        <ul>
                            <li>Fale&nbsp;conosco</li><li>Administração&nbsp;de&nbsp;Pedidos</li>
                            <li>Chamados</li>
                            <li>Produtos&nbsp;mais&nbsp; Vendidos</li> <li>Aprovar&nbsp;contas&nbsp;das&nbsp; empresas</li>
                        </ul>
                    </div>
                </div>
            </div>                
        </div>
        <div class="menu_categoria"><!-- Imagem que abre a lista de opções -->
            <img src="imagens/teste.png"/>
            <div class="submenu_categoria"><!-- Div que segura a lista de opções -->
                <div class="caixa_submenu">
                    <h2>Publicidade</h2>
                    <div class="item_submenu">
                        <ul >
                            <li>Conteúdo&nbsp;das&nbsp;Páginas</li>
                            <li>Posts&nbsp;da&nbsp;Comunidade</li>
                        </ul>
                    </div>
                </div>
            </div>                
        </div>
        <div class="menu_categoria"><!-- Imagem que abre a lista de opções -->
            <img src="imagens/teste.png"/>
            <div class="submenu_categoria"><!-- Div que segura a lista de opções -->
                <div class="caixa_submenu">
                    <h2>Marketing</h2>
                    <div class="item_submenu">
                        <ul >
                            <li>Promoções</li>
                            <li>Contatos</li>
                        </ul>
                    </div>
                </div>
            </div>                
        </div>
        <div class="menu_categoria"><!-- Imagem que abre a lista de opções -->
            <img src="imagens/teste.png"/>
            <div class="submenu_categoria"><!-- Div que segura a lista de opções -->
                <div class="caixa_submenu">
                    <h2>Funcionário</h2>
                    <div class="item_submenu">
                        <ul >
                            <a href="?usuarios"><li>Permissões</li></a>
                            <li>Contatos</li>
                        </ul>
                    </div>
                </div>
            </div>                
        </div>
    </div> 
