<div id="container-header">
    <div class="header">
        <div id="box-user">
            <div id="user-photo"></div>
            <p id="user-name"><?php echo ($userAutenticado->getNome()); ?>
                <br>
                Adm 
            </p>
        </div>
       <div id="header-box-right">
            <a href="?homeAdm">
                <div class="caixa-menu">
                    <h1> Administração</h1>
                </div>
            </a>
            <a href="?marketing">
                <div class="caixa-menu">
                    <h1> Marketing</h1>
                </div>
            </a>
            <a href="?funcionario">
                <div class="caixa-menu">
                    <h1>Funcionario</h1>
                </div>
            </a>
            <a href="?publicidade">
                <div class="caixa-menu">
                    <h1> Publicidade</h1>
                </div>
            </a>
            <a href="login/index.php">
                <div class="caixa-menu"  id="box-logout">
                    <h1> Sair </h1>
                </div>
            </a>
           
       </div>
    </div>
</div>