<div id="container1">
    <div class="titulo">
            Aprovar Contas empresas
    </div>
    <div class="tabela" style="width: 1100px;">
        <div class="row-titulo">
            <div class="assunto" style="width:700px;"> Empresa</div>
             <div class="assunto" style="width:350px;"> Opções</div>
        </div>
        <div class="row">
            <div class="conteudo">Conteudo</div>
            <div class="conteudo-img" style =" width: 350px;">
                <div class="icon1"></div>
                <div class="icon2"></div>
                <div class="icon3"></div>
               
            </div>
        </div>
         <div class="row">
            <div class="conteudo">Conteudo</div>
            <div class="conteudo-img" style =" width: 350px;">
                <div class="icon1"></div>
                <div class="icon2"></div>
                <div class="icon3"></div>
                
            </div>
        </div>
         <div class="row">
            <div class="conteudo">Conteudo</div>
            <div class="conteudo-img" style =" width: 350px;">
                <div class="icon1"></div>
                <div class="icon2"></div>
                <div class="icon3"></div>
              
            </div>
        </div>
         <div class="row">
            <div class="conteudo">Conteudo</div>
            <div class="conteudo-img" style =" width: 350px;">
                <div class="icon1"></div>
                <div class="icon2"></div>
                <div class="icon3"></div>
               
            </div>
        </div>
    </div> 
</div>
<script src="js/aprovarConta.js"></script>