
<div id="container1">
    <div class="titulo">
       Enquetes
    </div>
    <div class="caixa-btn">
            <input type="submit" value="+ Novo"> 
        </div>
    <div class="tabela">
        <div class="row-titulo">
            <div class="assunto"> Titulo</div>
             <div class="assunto"> Descrição</div>
            
             <div class="assunto" style="width:360px;"> Opções</div>
        </div>
        <div class="row">
            
        </div>
    </div>
</div>
<script src="js/cadastroEnquete.js"></script>


