<div id="container-home" style="padding-top: 100px; ">
        <div class="box-content">
            <ul class="ch-grid">
                <a href="?promocoesAdm">
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info">
                            <h3>Promoções</h3>
                        </div>
                    </div>
                </li>
                </a>

                <a href="?contatos">
                    <li>
                        <div class="ch-item ch-img-2">
                            <div class="ch-info">
                                <h3>Contatos</h3>
                            </div>
                        </div>
                    </li>
                </a>

                <a href="?enquete">
                    <li>
                        <div class="ch-item ch-img-3">
                            <div class="ch-info">
                                <h3>Enquete</h3>
                            </div>
                        </div>
                    </li>
                </a>
               
            </ul>
            
        </div>


        <div class="box-content" >
            <ul class="ch-grid">
                <a href="?popComVoceAdm">
                    <li>
                        <div class="ch-item ch-img-4">
                            <div class="ch-info">
                                <h3>Pops na Escola</h3>
                            </div>
                        </div>
                    </li>
                </a>
                <a href="?eventosAdm">
                <li>
                    <div class="ch-item ch-img-6">
                        <div class="ch-info">
                            <h3> Eventos</h3>
                        </div>
                    </div>
                </li>
                </a>
                <!-- <a href="?noticiasAdm">
                <li>
                    <div class="ch-item ch-img-7">
                        <div class="ch-info">
                            <h3> Noticias</h3>
                        </div>
                    </div>
                </li>
                </a> -->
                <!-- <a href="?parceirosAdm">
                <li>
                    <div class="ch-item ch-img-8">
                        <div class="ch-info">
                            <h3>  Parceiros<br>Patrocinados</h3>
                        </div>
                    </div>
                </li>
                </a> -->
            </ul>
        
        </div>
    </div>