<div id="container1">
        <div class="titulo">
            Nossas Lojas
        </div>
        <div class="caixa-btn">
            <input type="submit" value="+ Novo"> 
        </div>
       
        <div class="tabela" style="width: 1100px;">
            <div class="row-titulo">
                <div class="assunto"> Loja</div>
                 <div class="assunto"> Endereço</div>
                 <div class="assunto"> Estado</div>
                 <div class="assunto" style="width:350px;"> Opções</div>
            </div>
            <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img"  style="width:350px;">
                    <div class="icon1"></div>
                    <div class="icon2"></div>
                    <div class="icon3"></div>
                    <div class="icon4">
                        <img src="img/ativo.png" style="max-width: 55px;"  alt="ativado" title="ativado">
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img"  style="width:350px;">
                    <div class="icon1"></div>
                    <div class="icon2"></div>
                    <div class="icon3"></div>
                    <div class="icon4">
                        <img src="img/ativo.png" style="max-width: 55px;"  alt="ativado" title="ativado">
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img"  style="width:350px;">
                    <div class="icon1"></div>
                    <div class="icon2"></div>
                    <div class="icon3"></div>
                    <div class="icon4">
                        <img src="img/ativo.png" style="max-width: 55px;"  alt="ativado" title="ativado">
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img"  style="width:350px;">
                    <div class="icon1"></div>
                    <div class="icon2"></div>
                    <div class="icon3"></div>
                    <div class="icon4">
                        <img src="img/ativo.png" style="max-width: 55px;"  alt="ativado" title="ativado">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="js/nossasLojas.js"></script>