<div id="container1">
        <div class="titulo">
            Primeiro Slide
        </div>
        <div class="caixa-btn">
            <input type="submit" onclick="openAdd(1)" value="+ Novo"> 
        </div>
        <div class="tabela" style="width: 1100px;">
            <div class="row-titulo">
                <div class="assunto"> COD IMG</div>
                 <div class="assunto"> Nome</div>
                 <div class="assunto"> titulo</div>
                 <div class="assunto" style="width:350px;"> Opções</div>
            </div>
            <div class="container-list-1"></div>

        </div>

        <div class="titulo">
        Segundo Slide
        </div>
        <div class="caixa-btn">
            <input type="submit" value="+ Novo" onclick="openAdd(2)" > 
        </div>
            <div class="tabela" style="width: 1100px;">
                <div class="row-titulo">
                    <div class="assunto"> COD IMG</div>
                     <div class="assunto"> Nome</div>
                     <div class="assunto"> titulo</div>
                     <div class="assunto" style="width:350px;"> Opções</div>
                </div>
                <div class="container-list-2"></div>
            </div>
    <script src="js/popComVoce.js"></script>