
<div id="container1">
        <div class="titulo">
            Promoções
        </div>
        <div class="caixa-btn">
            <input type="submit" value="+ Novo"> 
        </div>
        <div class="tabela">
            <div class="row-titulo">
                <div class="assunto"> ID </div>
                 <div class="assunto"> Nome    </div>
                 <div class="assunto">status</div>
                 <div class="assunto"> DT.Término</div>
                 <div class="assunto"> Opções</div>
            </div>
            <div id="container-list"></div>
        </div>
    </div>
    <script src="js/promocoes.js"></script>