<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>BEM VINDO, NOME</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css?f5"/>
        <script src="js/jquery.js"></script>
    </head>
    <body>
        <header id="header">
            <h1 id="header-username">Nome da Empresa</h1>
            <nav>
                <div class="nav-item">Teste</div>
                <div class="nav-item">Teste</div>
                <div class="nav-item">Teste</div>
            </nav>
        </header>
        <div id="header-space"></div>
        <div id="teste">

        </div>
        <div id="home-pedidos">
            <div id="home-pedidos-box">
                <div id="home-pedidos-content">
                    <div id="home-pedidos-content2">
                        <h2>ESTES SÃO SEUS PEDIDOS ATIVOS:</h2>
                        <div class="home-pedido-item">
                            <div class="home-num-pedido">Pedido: #000000</div>
                            <div class="home-data-pedido">Data: XX/XX/XXXX</div>
                            <div class="home-status-pedido">Status: Aguardando pagamento</div>
                        </div>
                        <div class="home-pedido-item">
                            <div class="home-num-pedido">#00000</div>
                            <div class="home-data-pedido">Data: XX/XX/XXXX</div>
                            <div class="home-status-pedido">STATUS</div>
                        </div>
                        <div class="home-pedido-item">
                                <div class="home-num-pedido">#00000</div>
                                <div class="home-data-pedido">Data: XX/XX/XXXX</div>
                                <div class="home-status-pedido">STATUS</div>
                            </div>
                            <div class="home-pedido-item">
                                <div class="home-num-pedido">#00000</div>
                                <div class="home-data-pedido">Data: XX/XX/XXXX</div>
                                <div class="home-status-pedido">STATUS</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        teste
    </body>
    <script src="js/main.js?f5"></script>
</html>