
<div id="container1">
    <div class="titulo">
        Pedidos
    </div>
    <div class="tabela">
        <div class="row-titulo">
            <div class="assunto"> Produto</div>
             <div class="assunto"> Preço</div>
             <div class="assunto"> Quantidade</div>
        </div>
        <div class="row">
            <div class="conteudo">Conteudo...</div>
            <div class="conteudo">Conteudo...</div>
            <div class="conteudo">Conteudo...</div>
        </div>
        
    </div>
   
</div>