<div id="container-home">
   <div class="container-lista">
        <h2>Lista de Mais Vendido do Mês</h2>

        <div class="caixa-lista">
            <div class="lista">
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
            </div>
            <div class="lista">
                     <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
                    <div class="caixa-produto">
                        <div class="caixa-img">

                        </div> 
                        <h3>Listerine</h3>
                    </div>
            </div>
            
        </div>
   </div>
</div>