<div id="container-home">
        <div class="box-content">
                <ul class="ch-grid">
                        <a href="?admPedidos">
                        <li>
                            <div class="ch-item ch-img-1">
                                <div class="ch-info">
                                    <h3>Adm Pedidos</h3>
                                </div>
                            </div>
                        </li>
                        </a>
                        <a href="?admProdutos" style="width:140px; height: 140px;"> 
                        <li>
                            <div class="ch-item ch-img-2">
                                <div class="ch-info">
                                    <h3>Produtos</h3>
                                </div>
                            </div>
                        </li>
                        </a>

                        <a href="?admBrinde" style="width:140px; height: 140px;">
                        <li>
                            <div class="ch-item ch-img-3">
                                <div class="ch-info">
                                    <h3> Cadastro <br>de brindes</h3>
                                </div>
                            </div>
                        </li>
                        </a> 
                        
                        <a href="?admChamados" style="width:150px; height: 200px;">
                            <li>
                                <div class="ch-item ch-img-4">
                                    <div class="ch-info">
                                        <h3>Chamados</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                    </ul>
        </div>
        <div class="box-content">
            <ul class="ch-grid">
                    <a href="?admMateriaPrima">
                    <li>
                        <div class="ch-item ch-img-5">
                            <div class="ch-info">
                                <h3> Matérias-prima</h3>
                            </div>
                        </div>
                    </li>
                    </a>
                    <a href="?admEmbalagem" style="width:140px; height: 140px;"> 
                    <li>
                        <div class="ch-item ch-img-6">
                            <div class="ch-info">
                                <h3>Embalagens</h3>
                            </div>
                        </div>
                    </li>
                    </a>

                    <a href="?aprovarConta" style="width:140px; height: 140px;">
                    <li>
                        <div class="ch-item ch-img-7">
                            <div class="ch-info">
                                <h3> Aprovar contas das  empresas</h3>
                            </div>
                        </div>
                    </li>
                    </a> 
                    
                    <a href="?admFaleConosco" style="width:150px; height: 200px;">
                        <li>
                            <div class="ch-item ch-img-8">
                                <div class="ch-info">
                                    <h3> Fale Conosco</h3>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
        </div>
        <div class="box-content">
            <ul class="ch-grid">
                <a href="?admVendidos">
                <li>
                    <div class="ch-item ch-img-9">
                        <div class="ch-info">
                            <h3> Produtos mais  Vendidos</h3>
                        </div>
                    </div>
                </li>
                </a>
            </ul>
        </div>
</div>