
<script src="js/admBrinde.js"></script>

<div id="container1">
    <div class="titulo">
        Brindes
    </div>
   
    <div class="tabela">
        <div class="row-titulo">
            <div class="assunto"> Código</div>
             <div class="assunto"> Descrição</div>
             <div class="assunto"> Preço</div>
             <div class="assunto" style="width:250px;"> Opções</div>
        </div>
        <div class="row">
            
        </div>
        
        
    </div>
    
</div>

<script>
    $(document).ready(function(){
        console.log('admBrinde.html');
        listBrinde()

        
    });



$(document).ready(function(){
    console.log('admBrinde.html');
    listBrinde()
});


        $.ajax({
            type:"GET",
            url:"content/listBrindePublicidade.php",
            success: function(data){
                $('.row-body').html(data);
            }
        });
   
    
function listBrinde(){

    $.ajax({
        type:"GET",
        url:"content/listBrindePublicidade.php",
        success: function(data){
            $('.row').html(data);
        }
    });
}



</script>