<div id="container1">
        <div class="titulo">
                Eventos
        </div>
       
        <div class="tabela">
            <div class="row-titulo">
                <div class="assunto"> Evento</div>
                 <div class="assunto"> Endereço</div>
                 <div class="assunto"> Dia</div>
                 <div class="assunto" style="width:250px;"> Opções</div>
            </div>
            <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img">
                    <div class="icon1"></div>
                    <div class="icon4">
                        <img src="img/ativo.png" style="max-width: 55px;"  alt="ativado" title="ativado">
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img">
                    <div class="icon1"></div>
                    <div class="icon4">
                            <img src="img/ativo.png" style="max-width: 55px;"  alt="ativado" title="ativado">
                        </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img">
                    <div class="icon1"></div>
                    <div class="icon4" >
                            <img src="img/ativo.png" style="max-width: 55px;" alt="ativado" title="ativado">
                        </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img">
                    <div class="icon1"></div>
                    <div class="icon4">
                            <img src="img/desativado.png" style="max-width: 55px;" alt="desativado" title="desativado">
                        </div>
                </div>
            </div>
        </div>

        <div class="titulo">
                Eventos Já acontecidos
        </div>
       
        <div class="tabela">
            <div class="row-titulo">
                <div class="assunto"> Evento</div>
                 <div class="assunto"> Endereço</div>
                 <div class="assunto"> Dia</div>
                 <div class="assunto" style="width:250px;"> Opções</div>
            </div>
            <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img">
                    <div class="icon1"></div>
                    <div class="icon4">
                        <img src="img/ativo.png" style="max-width: 55px;"  alt="ativado" title="ativado">
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img">
                    <div class="icon1"></div>
                    <div class="icon4">
                            <img src="img/ativo.png" style="max-width: 55px;"  alt="ativado" title="ativado">
                        </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img">
                    <div class="icon1"></div>
                    <div class="icon4" >
                            <img src="img/ativo.png" style="max-width: 55px;" alt="ativado" title="ativado">
                        </div>
                </div>
            </div>
             <div class="row">
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo">Conteudo</div>
                <div class="conteudo-img">
                    <div class="icon1"></div>
                    <div class="icon4">
                            <img src="img/desativado.png" style="max-width: 55px;" alt="desativado" title="desativado">
                        </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="js/eventos.js"></script>