<div id="container1">
    <div class="titulo">
        História
    </div>
    <div class="caixa-btn">
        <input onclick="openNew()" type="submit" value="+ Novo" id="btn-save" class="btn-form"> 
    </div>
   
    <div class="tabela">
        <div class="row-titulo">
            <div class="assunto"> Titulo</div>
             <div class="assunto"> Subtitulo</div>
             <div class="assunto"> História</div>
             <div class="assunto" style="width:250px;"> Opções</div>
        </div>
        <div id="container-list">

        </div>
    </div>
    
</div>

<script src="js/historia.js"></script>