<div id="container-home">
        <div class="box-content" style="margin-left: 20px;">
            <a href="?homeSite" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> HOME</h1>
                </div>
            </a>
            <a href="?brindes" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1>BRINDES</h1>
                </div>
            </a>
            <a href="?estabelecimento" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1 style="margin-left: -18px">ESTABELECIMENTO</h1>
                </div>
            </a>
            <a href="?eventos" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> EVENTOS</h1>
                </div>
            </a>
           
            <a href="?historia" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> HISTÓRIA</h1>
                </div>
            </a>
            <a href="?missaoValores" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> MISSÃO E VALORES</h1>
                </div>
            </a>
            <a href="?nossasLojas" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1>NOSSAS LOJAS</h1>
                </div>
            </a>
            <a href="?videos" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1>VIDEOS</h1>
                </div>
            </a>
            <a href="?noticias" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> NOTÍCIAS</h1>
                </div>
            </a>
            <a href="?parceiros" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> PARCEIROS</h1>
                </div>
            </a>
            <a href="?popComVoce" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> POPS COM VOCÊ</h1>
                </div>
            </a>
            <a href="?produtos" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> PRODUTOS</h1>
                </div>
            </a>
            <a href="?promocoes" >
                <div class="box-item" style="margin-left: 50px;">
                    <img src="img/code.png" style="width: 120px ; height: 120px;"/>
                    <h1> PROMOÇÕES</h1>
                </div>
            </a>
            
        </div>
    </div>