<div id="container1">
    <div class="titulo">
            Missão Visão e Valores
    </div>
    <div class="caixa-btn">
        <input type="submit" value="+ Novo"  class="btn-submit" value="novo" onclick="openNew()"> 
    </div>
    <div class="tabela">
        <div class="row-titulo">
            <div class="assunto"> Evento</div>
            <div class="assunto"> Endereço</div>
            <div class="assunto"> Dia</div>
            <div class="assunto" style="width:250px;"> Opções</div>
        </div>
       <div id="container-list">     
       </div>
    </div>
    
</div>
<script src="js/missaoValores.js"></script>