<div id="container1">
    <div class="titulo">
       Parceiros no esporte 
    </div>
    <div class="caixa-btn">
        <input type="submit" onclick="openNew()" id="btn-novo" value="+ Novo">
    </div>
    <div class="tabela">
        <div class="row-titulo">
            <div class="assunto"> Nome</div>
             <div class="assunto"> Esporte</div>
             <div class="assunto"> Pais</div>
             <div class="assunto" style="width:250px;"> Opções</div>
        </div>
        <div id="container-list"></div>
    </div>
   
</div>
<script src="js/parceiros.js"></script>