<div id="container-home">
        <div class="box-content">
            <ul class="ch-grid">
                <a href="?usuario">
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info">
                            <h3> Cadastro de Usuários</h3>
                        </div>
                    </div>
                </li>
                </a>
                <a href="?permissao">
                    <li>
                        <div class="ch-item ch-img-2">
                            <div class="ch-info">
                                <h3> Cadastro de Permissões</h3>
                            </div>
                        </div>
                    </li>
                </a>
            </ul>
          
        </div>
    </div>