<div class="modal" style="text-align: center;">
        <div class="fechar">X</div>
       <h1 style="text-align: center; font-size: 25px">Estabelecimento</h1>
       
       <div class="caixa">
               <div class="txt"> <h3 >Nome do Estabelecimento:</h3></div>
               <input type="text" placeholder="Ex: JuanaFEDS">
       </div>
       <div class="caixa">
           <div class="txt"> <h3 >Evento:</h3></div>
           <input type="text" placeholder="Ex: FEDSdia">
       </div>
       <div class="caixa">
            <div class="txt"> <h3 >Endereço do evento:</h3></div>
            <input type="text" placeholder="Ex: rua jujujujuju">
        </div>
        <div class="caixa">
                <div class="txt"> <h3 >Data do Evento:</h3></div>
                <input type="text" placeholder="Ex: 10/05/2018">
            </div>
       
        <div class="caixa-file">
            <h3>Foto do Estabelecimento/Evento</h3>
            <div class="img-file"></div>
            <input type="file">
        </div>
        <div class="btn-enviar">
            <input type="submit" value="Salvar">
        </div>
</div>