<div class="modal" style="text-align: center;">
        <div class="fechar">X</div>
       <h1 style="text-align: center; font-size: 25px">Brinde</h1>
       <div class="caixa">
               <div class="txt"> <h3 >Nome do produto:</h3></div>
               <div class="txt"> Refrigerante</div>
       </div>
       <div class="caixa">
           <div class="txt"> <h3 >Breve Descrição:</h3></div>
           <div class="txt-banco"> NayeneNayeneNayeneNayeneNayeneNayeneNayeneNayene<br>NayeneNayeneNayeneNayeneNayeneNayeneNayeneNayeneNayeneNayeneNayeneNayeneNayeneNayeneNayeeneNayeneNayeneNayene</div>
       </div>
       
        <div class="caixa-file">
            <div class="img-file"></div>
            <input type="file">
        </div>
</div>
