<div class="modal" style="text-align: center;">
    <div class="fechar">X</div>
   <h1 style="text-align: center; font-size: 25px">Pedido</h1>
   <div class="caixa">
           <div class="txt"> <h3 >Produto:</h3></div>
           <div class="txt"> Ketch</div>
   </div>
    <div class="caixa">
            <div class="txt"> <h3 >Preço Produto:</h3></div>
            <div class="txt"> R$ 52,00</div>
    </div>
   <div class="caixa-total">
       <div class="txt"> <h3 > Quantidade:</h3></div>
       <input type="number" value="5" > 
   </div>

</div>
