<div class="modal">
    <div class="fechar"><span id="fechar">X</span></div>
    <div class="caixa-file">
        <h1 style="margin-left: 100px;">Foto</h1>
        <div class="img-file"></div>
    </div>
    <div class="caixa-file">
        <h1 style="margin-left: 100px;">Foto</h1>
        <div class="img-file"></div>
    </div>
    <div class="caixa-file">
        <h1 style="margin-left: 100px;">Foto</h1>
        <div class="img-file"></div>
    </div>
    <div class="caixa-file">
        <h1 style="margin-left: 100px;">Foto</h1>
        <div class="img-file"></div>
    </div>
</div>