<div id="container1">
    <div class="titulo">
           <p>Produtos mais clicados</p>
    </div>
    <div class="caixa-grafico">
        <div class="caixa-quantidade">
            <div class="quantidade"> 100% </div>
            <div class="quantidade"> 90% </div>
            <div class="quantidade"> 80% </div>
            <div class="quantidade"> 70% </div>
            <div class="quantidade"> 60% </div>
            <div class="quantidade"> 50% </div>
            <div class="quantidade"> 40% </div>
            <div class="quantidade"> 30% </div>
            <div class="quantidade"> 20% </div>
            <div class="quantidade"> 10% </div>
        </div>
        <div class="caixa-conteudo">
            <div class="conteudo">Laranja (17%)</div>
            <div class="conteudo">Laranja</div>
            <div class="conteudo">Laranja</div>
            <div class="conteudo">Laranja</div>
            <div class="conteudo">Laranja</div>
            <div class="conteudo">Laranja</div>
            <div class="conteudo">Laranja</div>
        </div>
    </div>
</div>
<script src="js/comunidade.js"></script>