<div id="container-home">
        <div class="box-content">
            <ul class="ch-grid">
                <a href="?homePaginas">
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info">
                            <h3> Conteudo das Páginas</h3>
                        </div>
                    </div>
                </li>
                </a>

                <a href="?comunidade">
                <li>
                    <div class="ch-item ch-img-2">
                        <div class="ch-info">
                            <h3> Post da Comunidade</h3>
                        </div>
                    </div>
                </li>
                </a>

                <a href="?estatistica">
                <li>
                    <div class="ch-item ch-img-3">
                        <div class="ch-info">
                            <h3>Estatísticas</h3>
                        </div>
                    </div>
                </li>
                </a>
             </ul>
        </div>
    </div>